<h1>Create User</h1>
<form action="/create" method="post">

  <label for="email">User's Email</label>
  <input name="email" type="text"/>
  <br/>

  <label for="password">EnterPassword</label>
  <input name="password" type="password"/>
  <br/>

  <input type="submit"/>
</form>
