 <div class="top-box">
    <img src="/images/treemoLabs-logo.png">
  </div>
  <div class="bottom-box">
    <form>

    <label for="Username">Username
    <input id="usernameInput" name="Username" type="email"/>
    </label>
    <div id="user-error"></div>
    <br/>

    <label for="password">Password
    <input id="passwordInput" name="password" type="password"/>
    </label>
    <br/>
    <div id="password-error"></div>

    <input class="submit-button" type="submit"/>
    </form>
  </div>
